name: Build Mac App

on: [push]

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pillow pymupdf customtkinter pyinstaller

      - name: Build with PyInstaller
        run: |
          pyinstaller --noconsole --onefile --windowed --name "MonConvertisseurPDF" app_pdf.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Convertisseur-Mac
          path: dist/MonConvertisseurPDF.app
